<div class="home">
	<p class="head">
	  Thanks for downloading
	  <br>
	  Kiwi.
	</p>
	<p class="slogan">
	  This is an example of a very basic application with a vertical responsive menu and a few empty pages.
	</p>
	<hr>
	<p class="howto">
	  Click on the top left icon to open the menu.
	</p>
</div>
