/**
 * Resizing the bar.
 */
.bar {
  height: 54px;
  /*background-color: #1a237e*/
}

.title {
  padding-top: 10px
}

.bar .icon {
  padding-top: 20px
}

.bar-nav~.content {
  padding-top: 54px
}

.content {
  background-color: white
}
