<h3>Features</h3>
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="#home">
      <span class="media-object pull-left fa fa-home"></span>
      <div class="media-body">
        Home
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#search">
      <span class="media-object pull-left fa fa-search"></span>
      <div class="media-body">
        Search
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#profile">
      <span class="media-object pull-left fa fa-user"></span>
      <div class="media-body">
        Profile
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#favorite">
      <span class="media-object pull-left fa fa-star"></span>
      <div class="media-body">
        Favorite
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right"  href="#settings">
      <span class="media-object pull-left fa fa-gear"></span>
      <div class="media-body">
        Settings
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#geoloc">
      <span class="media-object pull-left fa fa-location-arrow"></span>
      <div class="media-body">
        Geoloc
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#weather">
      <span class="media-object pull-left wi wi-day-sunny"></span>
      <div class="media-body">
        Weather
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="#legal">
      <span class="media-object pull-left fa fa-info"></span>
      <div class="media-body">
        Legal
      </div>
    </a>
  </li>
</ul>
