<header class="bar bar-nav">
  <p>This is the header region!</p>
</header>

<div class="sidemenu">
  <!-- -->
</div>

<div class="content">
  <!-- -->
</div>

<!--
<footer class="bar bar-tab">
  <p>This is the footer region!</p>
</footer> -->
